server:
  port: 8080
  servlet:
    session:
      timeout: 30m
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
      max-file-count: 1000
      max-parameter-count: 1000

spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  profiles:
    active: dev

  config:
    activate:
      on-profile: dev

  output:
    ansi:
      enabled: ALWAYS

  application:
    name: shahafa-bookshop

  datasource:
    url: jdbc:mysql://localhost:3306/BookShop?useUnicode=true&characterEncoding=UTF-8&createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: huyenfilw642@gmail.com
    password: ${SMTP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  security:
    debug: true

aws:
  access-key: dummy-access-key
  secret-key: dummy-secret-key
  s3:
    bucket: xo-cua-huyen-ne
    region: ap-southeast-1
    folder: "SHAHAFA Book Store"

